@charset "UTF-8";
/* CSS Document */
body {

background: url(../imagenes/contacto/contacto6.png) no-repeat center center fixed ;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; color: #fff; line-height: 1;}
